---
const { banner } = Astro.props;
---

<section
    class="relative bg-[url(/images/banner.jpg)] bg-cover bg-center bg-no-repeat"
  >
    <div
      class="absolute inset-0 bg-gradient-to-r bg-white/40 dark:bg-white/20 dark:md:bg-white/20 dark:from-0% dark:from-white/5 dark:to-black/60"
    >
    </div>

    <div
      class="flex relative mx-auto max-w-screen-xl px-4 py-32 justify-center  md:px-6 md:justify-end lg:h-screen lg:items-center lg:px-8"
    >
      <div
        class="max-w-xl text-center ltr:md:text-left rtl:md:text-right md:text-center"
      >
        <h1 class="text-3xl font-extrabold md:text-5xl dark:text-white">
          {banner.title}
          <strong class="block font-extrabold text-orange-600 dark:text-orange-500">
            {banner.subtitle}
          </strong>
        </h1>

        <p class="mt-4 max-w-lg text-center md:text-right md:text-xl/relaxed text-black dark:text-white">
          {banner.content}
        </p>

        <div class="mt-8 flex flex-wrap gap-4 justify-center md:justify-end">
          <a
            href="#"
            class="block w-full rounded bg-orange-600 dark:bg-orange-500 px-12 py-3 text-sm font-medium text-white shadow hover:bg-orange-700 dark:hover:bg-orange-600 focus:outline-none focus:ring active:bg-rose-500 md:w-auto"
          >
          Fala com a gente!
          </a>
        </div>
      </div>
    </div>
  </section>
