---
import DynamicIcon from "@/helpers/DynamicIcon";
---

<a
  aria-label="whatsapp"
  href="https://wa.me/558179025150?text=Estou%20precisando%20da%20Kipreço%20Desentupidora!%0aMe%20ajude!"
  target="_blank"
  rel="noopener noreferrer nofollow"
  class="fixed z-50 p-3 bottom-9 right-3 bg-green-500 text-white rounded-full hover:bg-green-600 m-2 lg:bottom-9 lg:right-9"
>
  <span class="sr-only">Whatsapp</span>
  <DynamicIcon className="inline-block" icon="FaWhatsapp" size={30} />
</a>
